/* main.css for ASM analysis */

form {
	font-family: Helvetica;
	font-size: 14px;
	margin: 0 auto;
	width: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -145px;
	margin-left: -150px;
}

.logo {
	font-family: Helvetica;
	font-size: 32px;
	padding-left: 25px;
	padding-bottom: 12px;
}